body
{
	background-color : rgb(250,240,240);
	font-family:'Trebuchet MS', serif;
}

#title
{
	color: rgb(180,120,120);
	margin-left: 200px;
	font-size:4em;
}

table
{
	margin : auto;
	border: 2px rgb(180,120,120) solid;
	border-radius: 5px;
	background-color: rgb(180,120,120);
	table-layout:fixed;
}

td
{
	text-align : center;
	font-size:2em;
	font-family:'Trebuchet MS', serif;
	color : rgb(250,240,240);
	height:50px;
    width:50px;
	padding: 15px;
	border: 2px rgb(200,150,150) solid;
	border-radius: 10px;
}